body{
    font-family: Filson pro;
    /* overflow-x: hidden; */
}

/* Global */
.btn-top{
    background-color: #F6C418;
    border-radius: 50px;
    width: 178px;
    height: 41px;
    margin-bottom: 1.5rem;
    color: #062935;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
}
.btn-top:hover{
    background-color: #d1c9ad;
}

.btn-bot{
    background-color: #F6C418;
    border-radius: 50px;
    width: 121px;
    height: 29px;
    margin-bottom: 1.5rem;
    color: #001A27, 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}
.btn-bot:hover{
    background-color: #d1c9ad;
}

/* Top Page Section */
.wrapper.top-page-section{
    background: #062935 url(/img/img1.png) no-repeat center;
    background-size: cover;
}
/* 
.top-page-section .container{
    margin: 0 4rem!important;    
} */

.top-page-section h2{
    color: #E5E5E5;
    font-size: 30px;
    margin: 2rem 0 2rem 0;
    font-weight: 800;
    line-height: 41px;
    color: #E5E5E5;
}

.top-page-section h4{
    color: #F6C418;
    font-size: 18px;
    padding-left: .5rem;
    font-weight: 800;
    line-height: 24.53px;
}

.top-page-section p{
    color: #DFF1F6;
    font-size: 14px;
    padding: 0 .5rem 0 .5rem;
    line-height: 20px;
    color: #DFF1F6;
}

/* Top Page Section 2 */
.wrapper.top-page-section2{
    background: url(/img/img2.png) no-repeat center;
    background-size: cover;
}

.top-page-section2 h3{
    color: #001A28;
    font-size: 25px;
    font-weight: 800;
    line-height: 34.08px;
    margin-top: 1.5rem;
}

.top-page-section2 p{
    color: #6F6F6F;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 12.5rem 0 12.5rem;
}

.top-page-section2 hr{
    width: 97px;
    height: 2px;
    background-color: #F6C418;
    border: none;
}

/* Cards */
.wrapper.cards-section-page{
    background: #F6C418 url(/img/cards-background.png) no-repeat center;
    background-size: cover;
}

.cards-section-page .card{
    width: 368px;
    margin-bottom: -100px;
    margin-top: 5rem;
    border-radius: 4px;
    height: 500px;
    border: none;
    z-index: 1;
    position: relative;
}

.cards-section-page .card-body h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 32.71px;
    color: #001A28;
}

.cards-section-page .card-body p{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #5A5A5A;
}

.cards-section-page .card-body a{
    color: #001A27;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.45px;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 2rem 1rem 0;
}

.cards-section-page .card-body i{
    font-size: 18px;
    line-height: 20.45px;
    padding-left: .5rem;
}

/* Case studies page */
.wrapper.case-studies-page{
    background: #062935 url(/img/img1.png) no-repeat center;
    background-size: cover;
}

.case-studies-page h3{
    margin-top: 10.5rem;
    font-weight: 800;
    font-size: 30px;
    line-height: 40.89px;
    color: #DFF1F6;
}

.case-studies-page h4{
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #DFF1F6;
}

.case-studies-page span{
    font-weight: 500;
    font-size: 18px;
    line-height: 24.53px;
    color: #FF0000;
}

.case-studies-page p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FF0000;
    padding-right: .5rem;
}

.case-studies-page hr{
    width: 350px;
    height: 2px;
    background-color: #F6C418;
    border: none;
}