body{
    font-family: Filson pro;
    /* overflow-x: hidden; */
}

/* Top page buttons */
.btn-top{
    background-color: #F6C418;
    border-radius: 50px;
    width: 178px;
    height: 41px;
    margin-bottom: 1.5rem;
    color: #062935;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
}
.btn-top:hover{
    background-color: #d1c9ad;
}

.btn-bot{
    background-color: #F6C418;
    border-radius: 50px;
    width: 121px;
    height: 29px;
    margin-bottom: 1.5rem;
    color: #001A27, 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}
.btn-bot:hover{
    background-color: #d1c9ad;
}

/* Top Page Section */
.wrapper.top-page-section{
    background: #062935 url(/img/img1.png) no-repeat center;
    background-size: cover;
}

.top-page-section .container-xs{
    margin: 0 4.5rem;    
}

.top-page-section h2{
    color: #E5E5E5;
    font-size: 30px;
    margin: 2.5rem 0 2rem 0;
    font-weight: 800;
    line-height: 41px;
}

.top-page-section h4{
    color: #F6C418;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: 800;
    line-height: 24.53px;
}

.top-page-section p{
    color: #DFF1F6;
    font-size: 14px;
    padding-right: 2rem;
    margin-left: 1rem;
    line-height: 20px;
    color: #DFF1F6;
}

/* Top Page Section 2 */
.wrapper.top-page-section2{
    background: url(/img/img2.png) no-repeat center;
    background-size: cover;
}

.top-page-section2 h3{
    color: #001A28;
    font-size: 25px;
    font-weight: 800;
    line-height: 34.08px;
    margin-top: 1.5rem;
}

.top-page-section2 p{
    color: #6F6F6F;
    font-size: 18px;
    
    line-height: 30px;
    width: 713px;
    margin: auto;
    padding-bottom: 1rem;
}

.top-page-section2 hr{
    width: 97px;
    height: 2px;
    background-color: #F6C418;
    border: none;
}

/* Cards */
.wrapper.cards-section-page{
    background: #F6C418 url(/img/cards-background.png) no-repeat center;
    background-size: cover;
}

.cards-section-page .container-xs{
    margin: 0 5rem;
}

.cards-section-page .card{
    width: 391px;
    margin-bottom: -100px;
    margin-top: 5.5rem;
    border-radius: 4px;
    height: 516px;
    border: none;
    z-index: 1;
    position: relative;
}

.cards-section-page .col-md-4{
    padding-left: 10px;
    padding-right: 0px;
}
.cards-section-page .card-body h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 32.71px;
    color: #001A28;
    padding: 5px;
}

.cards-section-page .card-body p{
    font-size: 12px;
    line-height: 20px;
    color: #5A5A5A;
    padding: 5px;
}

.cards-section-page .card-body a{
    color: #001A27;
    font-size: 15px;
    line-height: 20.45px;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 2rem 1rem 0;
}

.cards-section-page .card-body i{
    font-size: 18px;
    line-height: 20.45px;
    padding-left: .5rem;
}

/* Case studies page */
.wrapper.case-studies-page{
    background: #062935 url(/img/img1.png) no-repeat center;
    background-size: cover;
}

.case-studies-page .container-xs{
    margin: 0 6rem;
    padding-bottom: 82px;
}

.case-studies-page h3{
    margin-top: 10.5rem;
    font-weight: 800;
    font-size: 30px;
    line-height: 40.89px;
    color: #DFF1F6;
}

.case-studies-page h4{
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #DFF1F6;
    margin-bottom: 0;
}

.case-studies-page span{
    font-weight: 500;
    font-size: 18px;
    line-height: 24.53px;
    color: #FF0000;
}

.case-studies-page p{
    font-size: 12px;
    line-height: 20px;
    color: #FF0000;
    padding-right: 4rem;
}    

.case-studies-page hr{
    width: 300px;
    height: 2px;
    background-color: #F6C418;
    border: none;
    margin: 1rem 0 1rem 0;
}
.case-studies-page .boxes{
    width: 358px;
}

/* Plan Page */

/* banner global*/
.top-banner-section{
    padding: 40px 0;
}

.top-banner-section.last{
    padding: 64px 0;
}

.top-banner-section h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 49.07px;
    color: #062935;
}

.top-banner-section p{
    font-size: 20px;
    line-height: 25px;
    color: #001A27;
    margin: 0;
}

/* top page section */

.wrapper.top-banner-section{
    background: url(/img/banner1.png) no-repeat center;
    background-size: cover;
}

.wrapper.top-plan-section{
    background-color: #062935;
    padding: 96px 0;
}

/* Global top plan page*/
.top-plan-section .top-btn, .top-plan-section .bot-btn{
    font-weight: 800;
    font-size: 20px;
    line-height: 27.26px;
    color: #062935;
    padding: 0 28px;
    background-color: #FFF;
    /* width: 197px; */
    height: 60px;
    border-radius: 14px;
    margin: 14px 0 23px 0;
}

.top-plan-section .bot-btn{
    font-weight: 700;
    font-size: 18px;
    color: #062935;
    line-height: 18px;
    margin: 47px 0 0 0;
    padding: 0 46px;
}

.top-plan-section .mid-box button{
    background-color: #F6CA2F;
}
.top-plan-section .mid-box{
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.top-plan-section p{
    font-size: 18px;
    line-height: 25px;
    color: #DFF1F6;
    margin: 0;
}

.top-plan-section h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #F6CA2F;
}

.top-plan-section hr{
    width: 54px;
    height: 3px;
    background-color: #DFF1F6;
    border: none;
    margin: 34px auto;
}


/* mid page section */
/* bot page section */

/* cta section */
.top-page__cta-sec{
    background: url(/img/cta-bg.png) no-repeat center;
    background-size: cover;
    padding: 75px 0 73px 0;
}

.top-page__cta-sec .container{
    padding: 0 21rem;
}
.top-page__cta-sec-tit{
    font-weight: 800;
    font-size: 32px;
    line-height: 43.62px;
    color: #F6C418;
    margin-bottom: 9px;
}

.top-page__cta-sec-subt{
    font-size: 18px;
    line-height: 25px;
    color: #062935;
}

.top-page__cta-sec form{
    margin-top: 31px;
}

.top-page__cta-sec input{
    padding: 9px 19px;
    border: 2px #F6C418 solid;
    color: #DBDBDB;
    font-size: 24px;
    line-height: 32.71px;
    margin-bottom: 16px;
}

.top-page__cta-sec button{
    background-color: #F6C418;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    padding: 12px 53px;
}

/* Registration Successful page */
.regis-suc-page{
    background: url(/img/regis-suc-bg.png) no-repeat center;
    background-size: cover;
    padding: 151px 0 160px 0;
}

.regis-suc-page h1{
    font-weight: 700;
    font-size: 55px;
    line-height: 25px;
    color: #363636;
    margin-bottom:  0;
}

.regis-suc-page hr{
    width: 773px;
    height: 2px;
    background-color: #F6CA2F;
    border: none;
    margin: 38px auto 20px auto;
}

.regis-suc-page span{
    font-weight: 425;
    font-size: 30px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 31px;
    display: inline-block;
}

.regis-suc-page p{
    font-size: 15px;
    line-height: 25px;
    color: #363636;
    padding: 0 264px;
    margin-bottom: 0;
}

/* footer  */
.wrapper.footer-page{
    background:#F6CA2F url(/img/footer-yellow.png) no-repeat center;
    background-size: cover;
}

.wrapper.footer-page .container-xs, .wrapper.footer-page2 .container-xs{
    margin: 0 4rem;
}

.footer-page .box1 p{
    font-weight: 800;
    font-size: 20px;
    line-height: 27.26px;
    color: #001A27;
    margin-bottom: 6px;
}

.footer-page .box1 hr{
    width: 30px;
    height: 2px;
    background-color: #001A27;
    margin: 0;
    border: none;
}

.footer-page .box2{
    display: flex;
    flex-direction: row;

}

.footer-page .box1, .footer-page .box2{
    margin: 35px 0 26px 0;
    padding-right: 0;
}
.footer-page .box2 .box-text1, .footer-page .box2 .box-text2{
    margin-left: 21px;
} 

.footer-page .box2 p.box-text1{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #001A27;
    margin-bottom: 6px;
}

.footer-page .box2 p.box-text2{
    font-size: 15px;
    line-height: 20.45px;
    color: #001A27;
    margin-bottom: 0;
}

.footer-page .img1{
    width: 40px;
    height: 35px;
}

.footer-page .img2{
    width: 32px;
    height: 36px;
}

.footer-page .img3{
    width: 32px;
    height: 34px;
}

/* Footer 2 */
.wrapper.footer-page2{
    background-color: #062935;
    padding: 64px 0 40px 0;
}

.footer-page2 .box-left{
    padding: 0 15px 37px 0;
}

.footer-page2 .box-left h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F6C418;
    padding-right: 0;

}

.footer-page2 .box-left hr{
    width: 119px;
    height: 1px;
    background-color: rgba(196, 196, 196, 1);
    border: none;
    margin: 15px 0 14px 0;
}
.footer-page2 .box-left .ft-links{
    display: flex;
    flex-direction: column;
}

.footer-page2 .box-left a{
    text-decoration: none;
    
    font-size: 18px;
    line-height: 24.53px;
    color: #FFF;
    padding-bottom: 5px;
}

.footer-page2 .box-left2{
    padding-left: 0;
}

.footer-page2 .box-left2 p{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFF;
}
.footer-page2 .box-left2 p:nth-child(1){
    margin-bottom: 7px;
}
.footer-page2 .box-left2 p:nth-child(2){
    
    line-height: 16.36px;
    margin-bottom: 0;
}

.footer-page2 .box-right{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-page2 .box-right a{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #F6C418;
    padding-top: 11px;
    text-decoration: none;
    text-align: initial;
}

.footer-page2 .box-right .main-footer__email {
    text-align: initial;
    padding-left: 35px;
}
.footer-page2 .media-icons img{
    padding-top: 16px;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    /* Registration successful page */
    .regis-suc-page p{
        padding: 0 60px;
    }
}
@media (max-width: 768px) {
    .regis-suc-page p{
        padding: 0;
    }
}
@media (max-width: 576px) {
    .regis-suc-page p{
        padding: 0;
    }
}