body{
    font-family: filson-pro, sans-serif;
    /* background: #062935; */
}

/* Carousel controls  */
/* #adgainer-carousel{
    padding: 50px 0;
} */

.carousel-control-prev__width{
    width: 25px;
    height: 25px;
    margin: auto 0 auto 31px;
}

.carousel-control-next__width{
    width: 25px;
    height: 25px;
    margin: auto 31px auto 0;
}

.prev-angle-left, .next-angle-right{
    background-color: #F6C418;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.prev-angle-left i, .next-angle-right i{
    color: #001A28;
    font-weight: 700;
    font-size: 25px;  
}

.prev-angle-left i{
    padding-right: 2px;
}

.next-angle-right i{
    padding-left: 2px;  
}

/* Carousel first slide  */
.adgainer-first-slide{
    background: #F6C418 url(/img/Carousel/first-slide-bg.png) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
}

.first-slide-img{
    position: relative;
}

.first-slide-img img{
    position: absolute;
    bottom: 0;
    right: 30px;
}

.carousel-boxes{
    background-color: #062935;
    padding: 83px 125px 36px 84px;
}

.carousel-boxes__text h3{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #F6C418;
    margin-bottom: 8px;
}

.carousel-boxes__text p{
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 47px;
}

/* Carousel second slide  */
.adgainer-second-slide {    
    background: #F6C418 url(/img/Carousel/first-slide-bg.png) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
}

/* Carousel third slide */
.adgainer-third-slide{
    background: #062935;
}

.second-slide__text, .third-slide__text{
    background: #062935;
    padding: 68px 193px 51px 90px;
}

.third-slide__text{
    padding: 88px 193px 72px 90px;
}

.second-slide__text h3, .third-slide__text h3{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #F6C418;
    margin-bottom: 23px;
}

.third-slide__text h3{
    line-height: 33px;
}

.second-slide__text p, .third-slide__text p{
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}

p.text_line-height{
    line-height: 30px;
}

.second-slide__text hr, .third-slide__text hr{
    width: 100px;
    height: 2px;
    background: #F6C418;
    margin: 20px 0 18px 0;
}

.third-slide__text hr{
    margin: 27px 0 27px 0;
}

.second-slide__img{
    position: relative;
}

.second-slide__img img{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Top page buttons */
.btn-top{
    background-color: #F6C418;
    border-radius: 50px;
    width: 178px;
    height: 41px;
    margin-bottom: 65px;
    color: #062935;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
}
.btn-top:hover{
    background-color: #f1e1a3;
}

.btn-bot{
    background-color: #F6C418;
    border-radius: 50px;
    width: 121px;
    height: 29px;
    color: #001A27;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}
.btn-bot:hover{
    background-color: #d1c9ad;
}

/* Top Page Section */
.top-page-section{
    background: #062935 url(/img/img1.png) no-repeat center;
    background-size: cover;
}

.top-page-section .container{
    padding: 0 20px;    
}

.top-page-section h2{
    color: #E5E5E5;
    font-size: 30px;
    margin: 99px 0 49px 0;
    font-weight: 800;
    line-height: 41px;
}

.top-page-section h4{
    color: #F6C418;
    font-size: 18px;
    margin: 0 0 9px 1rem;
    font-weight: 800;
    line-height: 24.53px;
}

.top-page-section p{
    color: #DFF1F6;
    font-size: 14px;
    padding-right: 2rem;
    margin-left: 1rem;
    line-height: 20px;
    margin-bottom: 0;
    color: #DFF1F6;
}

.top-page-section .row div{
    margin-bottom: 83px;
}

.top-page-section .row div:nth-child(1),
.top-page-section .row div:nth-child(8){
    margin-bottom: 0;
}

/* Top Page Section 2 */
.top-page-section2{
    background: url(/img/img2.png) no-repeat center;
    background-size: cover;
    padding-top: 44px;
}

.top-page-section2 h3{
    color: #001A28;
    font-size: 25px;
    font-weight: 800;
    line-height: 34.08px;
    margin: 31px 0 4px 0;
}

.top-page-section2 p{
    color: #6F6F6F;
    font-size: 18px;  
    line-height: 30px;
    width: 713px;
    margin: auto;
    padding-bottom: 0;
}

.top-page-section2 hr{
    width: 97px;
    height: 2px;
    background-color: #F6C418;
    border: none;
    margin: 31px auto 0 auto;
}

.top-page-section2 .btn-top{
    margin-top: 41px;
}

/* Cards */
.cards-section-page{
    background: #F6C418 url(/img/cards-background.png) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
}

.cards-section-page .container{
    padding-top: 87px;
}

.cards-section-page .card{
    /* width: 365px; */
    margin-bottom: -100px;
    height: 516px;
    border: none;
    z-index: 1;
    position: relative;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards-section-page .card img{
    width: 100%;
}

.cards-section-page .card-body h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    color: #001A28;
    padding: 13px 0 3px 8px;
}

.cards-section-page .card-body p{
    font-size: 12px;
    line-height: 20px;
    color: #5A5A5A;
    padding: 0 8px;
}

.cards-section-page .card-body a{
    color: #001A27;
    font-size: 15px;
    line-height: 20.45px;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 19px 13px 0;
}

.cards-section-page .card-body i{
    font-size: 18px;
    line-height: 20.45px;
    padding-left: .5rem;
}

/* Case studies page */
.case-studies-page{
    background: #062935 url(/img/img1.png) no-repeat center;
    background-size: cover;
}

.case-studies-page .container{
    padding: 82px 15px 0 15px;
}

.case-studies-page .row div{
    margin-bottom: 83px;
}

.case-studies-page .row div:nth-child(1){
    margin-bottom: 32px;
}

.case-studies-page .row h3{
    margin-top: 65px;
    font-weight: 800;
    font-size: 30px;
    line-height: 40.89px;
    color: #DFF1F6;
}

.case-studies-page h4{
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #DFF1F6;
    margin-bottom: 0;
}

.case-studies-page span{
    font-weight: 500;
    font-size: 18px;
    line-height: 24.53px;
    color: #FF0000;
}

.case-studies-page p{
    font-size: 12px;
    line-height: 20px;
    color: #FF0000;
    /* padding-right: 4rem; */
}    

.case-studies-page hr{
    width: 100%;
    height: 2px;
    background-color: #F6C418;
    border: none;
    margin: 14px 0 14px 0;
}

/* Plan Page */

/* banner global*/
.top-banner-section{
    padding: 40px 0;
}

.top-banner-section.last{
    padding: 64px 0;
}

.top-banner-section h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 49.07px;
    color: #062935;
}

.top-banner-section p{
    font-size: 20px;
    line-height: 25px;
    color: #001A27;
    margin: 0;
}

/* top page section */

.top-banner-section{
    background: url(/img/banner1.png) no-repeat center;
    background-size: cover;
}

.top-plan-section{
    background-color: #062935;
    padding: 96px 0;
}

/* Global top plan page*/
.top-plan-section .top-btn, .top-plan-section .bot-btn{
    font-weight: 800;
    font-size: 20px;
    line-height: 27.26px;
    color: #062935;
    padding: 0 28px;
    background-color: #FFF;
    /* width: 197px; */
    height: 60px;
    border-radius: 14px;
    margin: 14px 0 23px 0;
}

.top-plan-section .bot-btn{
    font-weight: 700;
    font-size: 18px;
    color: #062935;
    line-height: 18px;
    margin: 47px 0 0 0;
    padding: 0 46px;
}

.top-plan-section .mid-box button{
    background-color: #F6CA2F;
}
.top-plan-section .mid-box{
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.top-plan-section p{
    font-size: 18px;
    line-height: 25px;
    color: #DFF1F6;
    margin: 0;
}

.top-plan-section h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #F6CA2F;
}

.top-plan-section hr{
    width: 54px;
    height: 3px;
    background-color: #DFF1F6;
    border: none;
    margin: 34px auto;
}

/* cta section */
.top-page__cta-sec{
    background: url(/img/cta-bg.png) no-repeat center;
    background-size: cover;
    padding: 75px 0 73px 0;
    background-blend-mode: multiply;
}

.top-page__cta-sec .container{
    padding: 0 20rem;
}

.top-page__cta-sec-tit{
    font-weight: 800;
    font-size: 32px;
    line-height: 43.62px;
    color: #F6C418;
    margin-bottom: 9px;
}

.top-page__cta-sec-subt{
    font-size: 18px;
    line-height: 25px;
    color: #062935;
}

.top-page__cta-sec form{
    margin-top: 31px;
}

.top-page__cta-sec input{
    padding: 9px 19px;
    border: 2px #F6C418 solid;
    color: #DBDBDB;
    font-size: 24px;
    line-height: 32.71px;
    margin-bottom: 16px;
}

.top-page__cta-sec button{
    background-color: #F6C418;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    padding: 12px 53px;
}

/* Create your free account */
.create-account-page{
    background: url(/img/regis-suc-bg.png) no-repeat center;
    background-size: cover;
    padding: 199px 0 94px 0;
}

.create-account-page .container{
    padding: 0 316px 0 195px;
}

.create-account-page__tit{
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 49px;
}

.create-account-page label{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 14px;
}

.create-account-page input{
    font-size: 18px;
    line-height: 25px;
    color: #9F9F9F;
    border: 2px #F6C418 solid;
    border-radius: 4px;
}

.create-account-page button{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 13px 0 34px 0;
    padding: 9px 32px;
    color: #FFF;
    background-color: #F6C418;
    border: none;
    border-radius: 4px;
}

.create-account-page__terms{
    font-size: 18px;
    line-height: 25px;
    color: #9F9F9F;
    margin-bottom: 29px;
}

.create-account-page__media{
    margin-bottom: 30px;
}

.create-account-page__media a{
    font-size: 15px;
    font-weight: 425;
    line-height: 25px;
    color: #9F9F9F;
    font-style: italic;
    text-decoration: underline;
    padding: 0 20px 0 5px;
    margin-bottom: 0;
}

.account-page__log-in, .account-page__log-in a{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #363636;
}

.account-page__log-in a{
    text-decoration: underline;
}

/* Registration Successful page */
.regis-suc-page{
    background: url(/img/regis-suc-bg.png) no-repeat center;
    background-size: cover;
    padding: 272px 0 160px 0;
}

.regis-suc-page h1{
    font-weight: 700;
    font-size: 55px;
    line-height: 25px;
    color: #363636;
    margin-bottom:  0;
}

.regis-suc-page hr{
    width: 773px;
    height: 2px;
    background-color: #F6CA2F;
    border: none;
    margin: 38px auto 20px auto;
}

.regis-suc-page span{
    font-weight: 425;
    font-size: 30px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 31px;
    display: inline-block;
}

.regis-suc-page p{
    font-size: 15px;
    line-height: 25px;
    color: #363636;
    padding: 0 264px;
    margin-bottom: 0;
}

/* Product page  */
.product-top-page{
    background:  url(/img/product/product-top-bg.png) no-repeat center;
    background-size: cover;
    padding: 105px 6rem 75px 6rem;
}

.product-top-page .box-container div{
    margin-bottom: 76px;
}

.product-top-page__tit h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #001A28;
    margin-bottom: 27px;
}

.box-container .product-top-page__tit hr{
    width: 72px;
    height: 6px;
    background-color: #001A28;
    margin: 0;
}

.product-top-page img{
    margin-bottom: 30px;
}

.product-top-page h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #001A28;
    margin-bottom: 18px;
}

.product-top-page p{
     font-size: 18px;
     line-height: 25px;
     color: #626262;
     margin: 0;
}

.box-container hr{
    width: 100%;
    height: 3px;
    background-color: #EAEAEA;
    border: none;
    margin-bottom: 76px;
    margin-top: 0;
}

.product-top-page .box-container .same-boxes{
    margin-bottom: 0;
}

.product-top-page .same-boxes h3{
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.product-top-page .same-boxes p{
    font-size: 15px;
    line-height: 20px;
    color: #626262;
}

.product-top-page .same-boxes hr{
    margin-bottom: 35px;
}

/* Product middle page  */
.product-middle-page{
    background: #062935 url(/img/product/product-sample-bg.png) no-repeat center;
    background-size: cover;
    padding: 138px 6rem 53px 6rem;
}

.product-middle-page h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F6C418;
    margin: 31px 0 10px 0;
}

.product-middle-page p{
    font-size: 16px;
    line-height: 20px;
    color: #9AADB5;
    margin-bottom: 85px;
}

.product-middle-page img{
    width: 100%;
}

/* Product bottom page  */
.product-bottom-sec{
    background: #F5C016 url(/img/product/product-bot-page-bg.png) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #F5C016;
    position: absolute;
    z-index: 1;
    bottom: -39px;
    left: 36rem;
}

.product-bottom-sec img{
    width: 100%;
}

.product-bottom-sec .box-container{
    margin: 0;
    padding: 44px 0 19px 0;
}

.product-bottom-sec h3{
    padding-left: 360px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #001A28;
}

.product-bottom-sec p{
    padding-right: 140px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-left: 59px;
}

/* product intergration sec  */
.product-bottom__intergration-sec{
    background: url(/img/product/product-bot-page-bg2.png) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
}

.product-bottom__intergration-sec img{
    width: 100%;
}

.product-bottom__intergration-sec .box-container1{
    padding: 0;
}
.product-bottom__intergration-sec .box-container2{
    padding: 0 120px 0 86px;
}

.product-bottom__intergration-sec h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #001A28;
    margin: 99px 0 35px 0;
}

.product-bottom__intergration-sec p{
    font-size: 20px;
    line-height: 40px;
    color: #555555;
    margin: 0;
}

/* Product bid sec  */
.product-bottom__bid-sec {
    background: #062935 url(/img/product/product-last-bg.png) no-repeat center;
    background-size: cover;
    padding: 119px 0 110px 0;
}

.product-bottom__bid-sec h1{
    color: #FFF;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 8px;
}

.product-bottom__bid-sec p{
    color: #FFF;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 49px;
}

.product-bottom__bid-sec .doubleclick{
    width: 928px;
    height: 287px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 44px 87px 49px 75px;
}

.product-bottom__bid-sec .doubleclick p{
    color: #555555;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 0;
    padding-top: 26px;
}

/* footer  */
.footer-page{
    background:#F6CA2F url(/img/footer-yellow.png) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
}

.footer-page .box-container, .footer-page2 .box-container{
    margin: 0 4rem;
}

.footer-page .box1 p{
    font-weight: 800;
    font-size: 20px;
    line-height: 27.26px;
    color: #001A27;
    margin-bottom: 6px;
}

.footer-page .box1 hr{
    width: 30px;
    height: 2px;
    background-color: #001A27;
    margin: 0;
    border: none;
}

.footer-page .box2{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.footer-page .box1, .footer-page .box2{
    margin: 35px 0 26px 0;
}
.footer-page .box2 p{
    margin-left: 21px;
} 

.footer-page .box2 p.box-text1{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #001A27;
    margin-bottom: 6px;
}

.footer-page .box2 p.box-text2{
    font-size: 15px;
    line-height: 20.45px;
    color: #001A27;
    margin-bottom: 0;
}

.footer-page .img1{
    width: 40px;
    height: 35px;
}

.footer-page .img2{
    width: 32px;
    height: 36px;
}

.footer-page .img3{
    width: 32px;
    height: 34px;
}

/* Footer 2 */
.footer-page2{
    background-color: #062935;
    padding: 64px 0 40px 0;
}

.footer-page2 .box-left{
    padding: 0 15px 37px 0;
}

.footer-page2 .box-left h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F6C418;
    padding-right: 0;

}

.footer-page2 .box-left hr{
    width: 119px;
    height: 1px;
    background-color: rgba(196, 196, 196, 1);
    border: none;
    margin: 15px 0 14px 0;
}
.footer-page2 .box-left .ft-links{
    display: flex;
    flex-direction: column;
}

.footer-page2 .box-left a{
    text-decoration: none;
    font-size: 18px;
    line-height: 24.53px;
    color: #FFF;
    padding-bottom: 5px;
}

.footer-page2 .box-left2 p{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFF;
}

.footer-page2 .box-left2 p:nth-child(1){
    margin-bottom: 7px;
}

.footer-page2 .box-left2 p:nth-child(2){
    line-height: 16.36px;
    margin-bottom: 0;
}

.footer-page2 .box-right{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -3rem;
}

.footer-page2 .box-right a{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #F6C418;
    padding-top: 11px;
    text-decoration: none;
}

.footer-page2 .main-footer__email {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.footer-page2 .main-footer__email a{
    padding-right: 20px;
}

.footer-page2 .main-footer__email a:nth-child(2){
    padding-right: 41px;
}

.footer-page2 .media-icons img{
    padding-top: 16px;
}

/*---Media Queries --*/
@media (max-width: 1024px){
    .top-page__cta-sec .container{
        padding: 0 15rem;
    }

    .product-bottom-sec h3{
        padding-left: 96px;
        padding-right: 0;
    }

    .product-bottom-sec p{
        padding-right: 96px;
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    /* Create account page  */
    .create-account-page .container{
        padding: 0;
    }

    /* Registration successful page */
    .regis-suc-page p{
        padding: 0 60px;
    }

    .product-bottom-sec h3{
        padding-left: 96px;
    }
    
    .product-bottom-sec p{
        padding-right: 96px;
        padding-left: 0;
    }

    .product-bottom__bid-sec .doubleclick{
        width: 100%;
    }

    .top-page__cta-sec .container{
        padding: 0 15rem;
    }

    .arrow-down{
        left: 27rem;
    }

    .product-bottom__intergration-sec .box-container2{
        padding: 0 80px 50px 80px;
    }

}   

@media (max-width: 768px) {
    .create-account-page .container{
        padding: 0;
    }
    
    .regis-suc-page p{
        padding: 0;
    }

    .product-bottom-sec h3{
        padding-left: 96px;
        margin-bottom: 1rem;
    }

    .product-bottom-sec p{
        padding-right:  96px;
        padding-left: 96px;
    }

    .product-bottom__bid-sec .doubleclick{
        width: 100%;
        padding: 40px 70px 40px 70px;
    }
    
    .product-bottom__bid-sec .doubleclick p{
        font-size: 18px;
        padding-top: 15px;
    }

    .top-page__cta-sec .container{
        padding: 0 7rem;
    }

    .arrow-down{
        left: 21rem;
    }

    .footer-page2 .box-right{
        text-align: initial;
        display: block;
        bottom: 0;
        padding-bottom: 15px;
    }

    .footer-page2 .box-right .main-footer__email {
        text-align: initial;
        padding-left: 1rem;
    }

    .footer-page2 .box-left{
        padding: 0 0 1rem 0;
    }

    .top-page-section2 p{
        width: 100%;
    }

    .cards-section-page .card-body p{
        font-size: 11px;
        padding: 0;
    }

    .cards-section-page .card-body h4{
        font-size: 18px;
        padding: 13px 0 3px 0;
    }

    .footer-page2 .box-right{
        padding-left: 0;
    }

    .regis-suc-page hr{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .create-account-page .container{
        padding: 0 4rem;
    }
    
    .regis-suc-page p{
        padding: 0;
    }

    .product-top-page .box-container .same-boxes{
        margin-bottom: 70px;
    }

    .product-bottom-sec h3{
        padding-left: 96px;
        margin-bottom: 1rem;
    }
    .product-bottom-sec p{
        padding-left: 96px;
        padding-right:  96px;
    }

    .product-bottom__bid-sec .doubleclick{
        width: 100%;
        padding: 40px 70px 40px 70px;
    }
    
    .product-bottom__bid-sec .doubleclick p{
        font-size: 16px;
        padding-top: 15px;
        line-height: 30px;
    }

    .product-bottom__bid-sec .doubleclick img{
        width: 240px;
    }

    .top-page__cta-sec .container{
        padding: 0 2rem;
    }

    .arrow-down{
        left: 6rem;
    }
    
    .cards-section-page .card{
        margin-bottom: 3rem;
    }

    .case-studies-page .container{
        padding: 18px 30px 0 30px;
    }

    .top-banner-section h2{
        font-size: 25px;
    }

    .top-banner-section p{
        font-size: 16px;
    }

    .top-plan-section .mid-box{
        border-right: none;
    }

    
    .top-plan-section .box_margin-top{
        margin-top: 80px;
    }

    .footer-page2 .box-right{
        padding-left: 0;
    }
    
}